<h1>Addition</h1>

<form action="/wizard_add" method="get">
  <label for="first_num">Add this:</label>
  <input id="first_num" name="first_num">

  <label for="second_num">to this:</label>
  <input id="second_num" name="second_num">

  <button type="submit">Add!</button>
</form>
